.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.chat:hover {
  opacity: 0.8;
}

.chat:active {
  opacity: 0.5;
}

.chat__readIcon {
  color: #ed3b55;
}

.chat__info {
  padding-left: 10px;
  font-weight: 500;
  margin-right: auto;
}

.chat__info > p {
  font-size: 9px;
}
